body {
    background-color: bisque;
    font-family: Helvetica;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,h2 {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    margin: 10px;
    color: burlywood;
}

.whitebox {
    background-color: white;
    padding: 10px;
    width: 33%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagestuff img {
    height: 90%;
    width: 90%;
    border-radius: 10px;
    border: 10px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
